* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #a2a3a7;
}

body {
    /* background-image: url("background.jpg"); */
    /* background */
    background: #363940;

    /* width: 100vw; */
    font-family: "Whitney", sans-serif;
    text-rendering: optimizeLegibility;
    user-select: none;
    width: 100vw;
    height: max-content;
}

input {
    outline: none;
}

#wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#box {
    width: 35%;
    height: 600px;
    margin: 2rem auto;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 10px;
    background-color: #363940;
}

#top_header {
    width: 100%;
    margin: 0;
    padding-top: 45px;
}

#top_header > h3 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    -webkit-text-stroke: 0.5px;
    margin-bottom: 1rem;
}

#top_header > h5 {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.6;
    margin: 0;
    padding: 15px 0;
    color: #a2a3a7;
    -webkit-text-stroke: 0.2px;
}

#inputs {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

input[type="text"],
input[type="textarea"],
input[type="checkbox"],
input[type="password"],
input[type="submit"],
label,
select {
    width: 400px;
    height: 40px;
    position: relative;
    margin: 0 auto;
    display: block;
    margin-bottom: 5px;
    padding: 15px;
    box-sizing: border-box;
    -webkit-text-stroke: 0.1px;
    color: #919296;
}

select {
    height: fit-content;
}
input[type="text"],
input[type="textarea"],
input[type="checkbox"],
input[type="password"],
select {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: thin solid #ccc;
    border-radius: 5px;
    color: #c4c3ca;
    background-color: #323338;
}

input[type="text"]:focus,
input[type="textarea"]:focus,
input[type="checkbox"]:focus,
input[type="password"]:focus,
select:focus {
    border: thin solid #21d481;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="textarea"]:focus,
input[type="checkbox"]:focus,
select:focus {
    border-left: thin solid #21d481;
}

input[type="submit"] {
    background-color: #7289d9;
    height: 50px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 300;
    font-size: 16px;
    transition: all 0.3s ease;
    margin-top: 0px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #677bc4;
    box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}

#bottom {
    width: 300px;
    margin: 0 auto;
    margin-top: 15px;
}

a {
    text-decoration: none;
    /* color: #282828; */
    font-size: 19.2px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    transition: color 0.3s ease;
    outline: none;
}

.right_a {
    float: right;
}
input[type="checkbox"],
select option {
    accent-color: #414245;
}
.con1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #313236;
    height: max-content;
}
img {
    margin: 3rem 0;
}
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: max-content;
    /* background-color: #313236; */
}
.project {
    padding-right: 5rem;
    background: #363940;
    height: 100%;
    width: 75%;
}
.lead {
    font-size: 1.5rem;
    color: white;
    display: block;
}
.proj-con .lead {
    font-size: 1.5rem;
}
.time {
    display: block;
    margin-top: 10px;
    font-size: 1.1rem;
}
.proj-con {
    height: 100px;
    border: solid 1px rgb(169, 169, 169);
    border-left: none;
    border-right: none;
    margin-top: 1rem;
    padding: 1rem;
}
.conn {
    margin-top: 3rem;
    padding-left: 5rem;
}
.skills {
    margin-top: 1rem;
}
.skills .lead {
    background-color: #64656799;
    border-radius: 40px;
    padding: 1px 10px;
    font-size: 1rem;
}
/* .profile a {
    text-decoration: none;
    transition: color 0.3s ease;
    outline: none;
    position: relative;
    display: block;
    padding: 10px 2rem;
    box-sizing: border-box;
    -webkit-text-stroke: 0.1px;
    background-color: #405dc3;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 300;
    font-size: 1rem;
    transition: all 0.3s ease;
    margin-top: 1rem;
    cursor: pointer;
    text-align: center;
} */
.butt {
    text-decoration: none;
    transition: color 0.3s ease;
    outline: none;
    position: relative;
    display: block;
    padding: 10px 2rem;
    box-sizing: border-box;
    -webkit-text-stroke: 0.1px;
    background-color: #405dc3;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 300;
    font-size: 1rem;
    transition: all 0.3s ease;
    margin-top: 1rem;
    cursor: pointer;
    text-align: center;
}

.skills {
    width: 100%;
    height: 500px !important;
    padding-left: 4rem;
}
.skill {
    width: max-content;
    display: inline-block;
    border-radius: 7px;
    padding: 6px 20px !important;
    color: black !important;
    margin: 12px !important;
    background-color: rgb(207, 207, 207) !important;
}
